table{
    border-collapse: collapse;
}
th, td{
    border: 1px solid;

}
#message{
    display:inline-block;
    vertical-align: top;
}
#profilePic{
    border-radius: 50%;
}
.links img{
    height: 50px;
}
.game img{
    height: 100px;
    display: block;
}